<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>UfficioPostale2</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errore404.jsp</location>
  </error-page>
  <filter>
    <filter-name>LoggedFilter</filter-name>
    <filter-class>filter.LoggedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/cliente/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/dipendente/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoggedFilter</filter-name>
    <url-pattern>/gestore/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/cliente/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/dipendente/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AddettoFilter</filter-name>
    <filter-class>filter.AddettoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddettoFilter</filter-name>
    <url-pattern>/dipendente/addetto/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PostinoFilter</filter-name>
    <filter-class>filter.PostinoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PostinoFilter</filter-name>
    <url-pattern>/dipendente/postino/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>GestoreFilter</filter-name>
    <filter-class>filter.GestoreFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GestoreFilter</filter-name>
    <url-pattern>/gestore/*</url-pattern>
  </filter-mapping>
</web-app>